<nav class="navbar navbar-expand-lg navbar-dark custom-bg-blue meep-nav">
    <div class="container ">
        <a class="navbar-brand" href="/">Meeper</a>
        <img src="/images/meep.jpg" class="tiny-brand">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/meeps">Meeps</a>
                </li>
            </ul>
                <div class="nav-item">
                    
                </div>
                {% if token %}
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ token }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">View Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <form action="/login/logout" method="post">
                    <button type="submit" class="dropdown-item">Sign out</button>
                    </form>
                </div>
                {% else %}
                <a class="btn btn-secondary" href="/login">Login</a>
                {% endif %}
        </div>
    </div>
</nav>