<div>
    <form action="/update" method="post">
        <div class="input-group mb-3 h-10r" id="update-form">
            <label for="meep" class="visually-hidden">Meep</label>
            <input
                class="form-control"
                type="text"
                name="meep"
                id="meep"
                placeholder="New text"
                required>
            <button class="btn btn-primary" type="submit">Update Meep</button>
        </div>
    </form>
</div>