---
layout: layout.njk
---
{% extends layout %}
{% block  content %}
<main class="container mt-5">
  <h1>404 error</h1>
  <p>Welcome to Express Server Todo-List Webbserverprg-project</p>
  <button class="btn btn-primary" onclick="window.location = './tasks'">Go to the ToDo-List</button>
</main>
  
{% endblock %}