{% extends "layout.njk" %}
{% block  content %}
    <h1> Your profile </h1>
    <p> {{ data[0].name }} </p>
    <p>About me: {{ data[0].body }} </p>
    
    
    <form action="/profile/editBody" method="post">
    <div class="input-group mb-3">
        <input disabled hidden name="username" value="{{data[0].name}}">
        <input name="newBody" id="newBody" required type="text" class="form-control" placeholder="Edit Body" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Edit body</button>
    </div>
    </form>
{% endblock %}