{% extends "layout.njk" %}
{% block  content %}
<h1> {{error}} </h1>
<form action="/signup" method="post">
    <div class="input-group mb-3">
        <input required name="username" id="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <input required name="password" id="password" type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <div class="input-group mb-3">
        <input required name="rePassword" id="rePassword" type="password" class="form-control" placeholder="Repeat Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
{% endblock %}