body {
  margin: 0;
}

a {
  color: #00B7FF;
}

.h-10rem-min {
  height: 10rem;
}

.custom-text-body {
  width: 100%;
}

.text-size-05rem {
  font-size: 0.5rem;
}

.custom-bg-blue {
  background: #0093df;
}

.meep-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

.mt-5r {
  margin-top: 5rem;
}

.h-10r {
  height: 10rem;
}

.h-100vh {
  height: 100vh;
}

.fat-font {
  font-size: 4rem;
}

.of-f {
  object-fit: scale-down;
}

.tiny-brand {
  width: 2rem;
  height: 2rem;
}

.landing-top {
  width: 100%;
  height: 90vh;
  background: rgba(122, 122, 122, 0.251);
}

.landing-bottom {
  width: 100%;
  height: 5vh;
}

.landing-left {
  width: 50%;
  height: 90vh;
}

.landing-right {
  width: 50%;
  height: 100vh;
}

.meep-top {
  width: 100%;
  height: 80%;
  display: flex;
}

.meep-bottom {
  width: 100%;
  height: auto;
}

.index-link {
  text-decoration: none;
}

.index-link:hover {
  text-decoration: underline;
}