body {
  margin: 0;
}

a {
  color: #00B7FF;
}

.h-10rem-min {
  height: 10rem;
}

.custom-text-body {
  width: 100%;
}

.text-size-05rem {
  font-size: 0.5rem;
}

.custom-bg-blue {
  background: #0093df;
}

.meep-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

.mt-5r {
  margin-top: 5rem;
}